{# templates/emails/registration_email.html.twig #}

{% extends 'emails/base.html.twig' %}

{% block title %}Paroisse supprimée{% endblock %}

{% block content %}
    <h1>Bonjour, {{ user_name }} !</h1>
    <p>La paroisse <strong>{{ paroisse }}</strong> a été supprimée d'Ecce Missa.</p>
    <p>Si vous n'êtes pas à l'origine de cette manipulation, veuillez nous contacter au plus vite.</p>
    <p>A bientôt !</p>
{% endblock %}
