{# templates/emails/contact_email.html.twig #}

{% extends 'emails/base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block content %}
    <h1>Bonjour,</h1>
    <p>Nous avons reçu une demande de réinitialisation de votre mot de passe. Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>
    <p><a href="{{ frontend_url }}reset-password?token={{ token }}">Réinitialiser mon mot de passe</a></p>
    <p>Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer cet e-mail.</p>
    <p>Merci</p>
{% endblock %}
